### Link para a video-aula: 
https://www.youtube.com/watch?v=eOu-h_XxjHQ

In [239]:
import numpy as np
import pandas as pd

In [240]:
df = pd.read_csv("SPAM text message 20170820 - Data.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [241]:
df['Category'].value_counts()

Category
ham     4825
spam     747
Name: count, dtype: int64

In [242]:
X = df['Message']
y = df['Category']
len(X)

5572

Instalar o SK-Learn modulo:
```
pip install scikit-learn
```

In [243]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=22)

In [244]:
len(X_train)

4457

In [245]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB, ComplementNB
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score, classification_report

In [246]:
# Correção: Instanciar os classificadores corretamente
pipeMNB = Pipeline([('tfidf', TfidfVectorizer()), ('clf', MultinomialNB())])
pipeCNB = Pipeline([('tfidf', TfidfVectorizer()), ('clf', ComplementNB())])
pipeSVC = Pipeline([('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

In [247]:
# Ajustando o modelo
pipeMNB.fit(X_train, y_train)

# Fazendo a previsão
predictMNB = pipeMNB.predict(X_test)
print(f"MNB: {accuracy_score(y_test, predictMNB):.3f}")

MNB: 0.954

In [248]:
# Ajustando o modelo
pipeCNB.fit(X_train, y_train)

# Fazendo a previsão
predictCNB = pipeCNB.predict(X_test)
print(f"CNB: {accuracy_score(y_test, predictCNB):.3f}")

CNB: 0.978

In [249]:
# Ajustando o modelo
pipeSVC.fit(X_train, y_train)

# Fazendo a previsão
predictSVC = pipeSVC.predict(X_test)
print(f"CNB: {accuracy_score(y_test, predictSVC):.3f}")

CNB: 0.986

In [250]:
print(classification_report(y_test, predictSVC))

              precision    recall  f1-score   support

         ham       0.98      1.00      0.99       965
        spam       0.99      0.90      0.94       150

    accuracy                           0.99      1115
   macro avg       0.99      0.95      0.97      1115
weighted avg       0.99      0.99      0.99      1115

In [251]:
msg_ham = "yesterday I went home alone"
pipeSVC.predict([msg_ham])

array(['ham'], dtype=object)

In [252]:
msg_spam = "click here to win cash"
pipeSVC.predict([msg_spam])

array(['spam'], dtype=object)

In [253]:
# mostrando todos os registros do tipo SPAM
df[df['Category'] == "spam"]

     Category                                            Message
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
5        spam  FreeMsg Hey there darling it's been 3 week's n...
8        spam  WINNER!! As a valued network customer you have...
9        spam  Had your mobile 11 months or more? U R entitle...
11       spam  SIX chances to win CASH! From 100 to 20,000 po...
...       ...                                                ...
5537     spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540     spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547     spam  Had your contract mobile 11 Mnths? Latest Moto...
5566     spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567     spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [254]:
# mostrando todos os tipos de dados NÃO SPAM:
df[df['Category'] == "ham"]

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
6         ham  Even my brother is not like to speak with me. ...
...       ...                                                ...
5565      ham                                       Huh y lei...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[4825 rows x 2 columns]